# API Keys
GEMINI_API_KEY=AIzaSyC_QN3S9D_LH0rQvk1_jAexBDzbkWXX77w

# Security
SECRET_KEY=your-secret-key-here

# Database
DATABASE_URL=postgresql://user:password@postgres:5432/emotion_db

# CORS
ALLOWED_ORIGINS=http://localhost:3000,https://couns-system.ddns.net/

# Environment
FLASK_ENV=production
NODE_ENV=production